absl-py
accelerate
aiohttp
aiosignal
antlr4-python3-runtime
anyio
argon2-cffi
argon2-cffi-bindings
asttokens
astunparse
async-timeout
attrs
autocommand
backcall
backports.csv
beautifulsoup4
bert-score
bibtexparser
bleach
blis
boto3
botocore
cached-property
cachetools
catalogue
certifi
cffi
chardet
charset-normalizer
checklist
cheroot
CherryPy
click
cmake
colorama
cryptography
cycler
cymem
Cython
dataclasses
datasets
debugpy
decorator
defusedxml
dill
docopt
editdistance
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0-py3-none-any.whl
en-core-web-trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.4.0/en_core_web_trf-3.4.0-py3-none-any.whl
entrypoints
executing
fastjsonschema
fastrlock
feedparser
filelock
flatbuffers
frozenlist
fsspec
future
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
hydra-core
idna
importlib-metadata
importlib-resources
inflect
ipykernel
ipython
ipython-genutils
ipywidgets
iso-639
jaraco.classes
jaraco.collections
jaraco.context
jaraco.functools
jaraco.text
jedi
Jinja2
jmespath
joblib
jsonargparse
jsonlines
jsonschema
jupyter
jupyter-console
jupyter-core
jupyter-server
jupyter_client
jupyterlab-pygments
jupyterlab-widgets
keras-nightly
Keras-Preprocessing
kiwisolver
langcodes
latexcodec
lxml
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mistune
more-itertools
mosestokenizer
multidict
multiprocess
munch
murmurhash
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
nltk
notebook
notebook_shim
numpy
oauthlib
omegaconf
openfile
opt-einsum
packaging
pandas
pandocfilters
parso
pathy
patternfork-nosql
pdfminer.six
pdfplumber
pexpect
pickleshare
Pillow
pkgutil_resolve_name
portalocker
portend
preshed
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pyasn1
pyasn1-modules
pybtex
pycparser
pydantic
pyDeprecate
pyemd
Pygments
pyinflect
pylatexenc
pyparsing
-e git+https://github.com/bheinzerling/pyrouge@08e9cc35d713f718a05b02bf3bb2e29947d436ce#egg=pyrouge
pyrsistent
python-dateutil
python-docx
pytorch-lightning
pytorch-nlp
pytorch-pretrained-bert
pytz
PyYAML
pyzmq
qtconsole
QtPy
rebiber
regex
requests
requests-oauthlib
rouge-score
rsa
s3transfer
sacrebleu
sacremoses
scikit-learn
scipy
Send2Trash
sentencepiece
sgmllib3k
six
smart-open
sniffio
soupsieve
spacy
spacy-alignments
spacy-legacy
spacy-loggers
spacy-transformers
srsly
stack-data
tabulate
tempora
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
termcolor
terminado
tf-slim
thinc
threadpoolctl
tinycss2
toolwrapper
torch
torchmetrics
tornado
tqdm
traitlets
transformers
tsv
typer
typing_extensions
uctools
unbabel-comet
Unidecode
urllib3
Wand
wasabi
wcwidth
webencodings
websocket-client
Werkzeug
widgetsnbextension
wrapt
xxhash
yarl
zc.lockfile
zipp
prettytable